<aside class="sidebar">
  <ul class="sidebar__menu">
    <li><i class="fas fa-home"></i> Inicio</li>
    <li><i class="fas fa-search"></i> Buscar</li>
    <li><i class="fas fa-compass"></i> Explorar</li>
    <li><i class="fas fa-video"></i> Reels</li>
    <li><i class="fas fa-envelope"></i> Mensajes</li>
    <li><i class="fas fa-heart"></i> Notificaciones</li>
    <li><i class="fas fa-plus-square"></i> Crear</li>
    <li><i class="fas fa-user"></i> Perfil</li>
    <li><i class="fas fa-bars"></i> Más</li>
  </ul>
</aside>
